*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: monospace;
}
h1 {
    color: white;
    font-size: 5rem;
}
.parallax {
    background-image: url('/img/Montains1.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url('/img/Night1.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}